In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('../Starter_Code/Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
new_app=application_df.drop(['EIN','NAME'],axis=1)
new_app

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
applications= pd.get_dummies(new_app,dtype=float)
applications

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [4]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y= applications['IS_SUCCESSFUL'].values
print(y)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X=applications.drop('IS_SUCCESSFUL',axis=1).values
print (X)

[1 1 0 ... 0 1 0]
[[1.0000000e+00 5.0000000e+03 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 1.0859000e+05 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 ...
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 3.6500179e+07 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_features = len(X_train_scaled[0])
nodes_layer1=80
nodes_layer2=50

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=nodes_layer1, input_dim=number_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=nodes_layer2,activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                9360

 dense_13 (Dense)            (None, 50)                4050

 dense_14 (Dense)            (None, 1)                 51

=================================================================
Total params: 13,461
Trainable params: 13,461
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
#  YOUR CODE GOES HERE


fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.7077 - accuracy: 0.5210
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6945 - accuracy: 0.5321
Epoch 3/100
804/804 [==============================] - 1s 997us/step - loss: 0.6929 - accuracy: 0.5292
Epoch 4/100
804/804 [==============================] - 1s 933us/step - loss: 0.6920 - accuracy: 0.5318
Epoch 5/100
804/804 [==============================] - 1s 982us/step - loss: 0.6899 - accuracy: 0.5350
Epoch 6/100
804/804 [==============================] - 1s 988us/step - loss: 0.6895 - accuracy: 0.5370
Epoch 7/100
804/804 [==============================] - 1s 990us/step - loss: 0.6891 - accuracy: 0.5356
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6889 - accuracy: 0.5381
Epoch 9/100
804/804 [==============================] - 1s 987us/step - loss: 0.6884 - accuracy: 0.5370
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6880 - accuracy: 0.5395
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6876 - accuracy: 0.5414
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6873 - accuracy: 0.5426
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6873 - accuracy: 0.5410
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6872 - accuracy: 0.5410
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6866 - accuracy: 0.5426
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6862 - accuracy: 0.5437
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6861 - accuracy: 0.5434
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6855 - accuracy: 0.5417
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6854 - accuracy: 0.5440
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6850 - accuracy: 0.5428
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6847 - accuracy: 0.5452
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6848 - accuracy: 0.5442
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6845 - accuracy: 0.5451
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6841 - accuracy: 0.5471
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6840 - accuracy: 0.5459
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6837 - accuracy: 0.5455
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6835 - accuracy: 0.5470
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6832 - accuracy: 0.5467
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6829 - accuracy: 0.5466
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6832 - accuracy: 0.5459
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6827 - accuracy: 0.5451
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6825 - accuracy: 0.5473
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6821 - accuracy: 0.5479
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6819 - accuracy: 0.5475
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6823 - accuracy: 0.5461
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6817 - accuracy: 0.5478
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6818 - accuracy: 0.5496
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6813 - accuracy: 0.5494
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6815 - accuracy: 0.5472
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6810 - accuracy: 0.5479
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6810 - accuracy: 0.5476
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6808 - accuracy: 0.5483
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6807 - accuracy: 0.5492
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6805 - accuracy: 0.5500
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6799 - accuracy: 0.5493
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6806 - accuracy: 0.5498
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6798 - accuracy: 0.5502
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6798 - accuracy: 0.5495
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6796 - accuracy: 0.5493
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6793 - accuracy: 0.5499
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6792 - accuracy: 0.5493
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6804 - accuracy: 0.5474
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6797 - accuracy: 0.5512
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6789 - accuracy: 0.5497
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6789 - accuracy: 0.5517
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6788 - accuracy: 0.5512
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6788 - accuracy: 0.5496
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6790 - accuracy: 0.5503
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6787 - accuracy: 0.5495
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6781 - accuracy: 0.5495
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6783 - accuracy: 0.5503
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6801 - accuracy: 0.5510
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6792 - accuracy: 0.5509
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6776 - accuracy: 0.5507
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6785 - accuracy: 0.5520
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6782 - accuracy: 0.5522
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6784 - accuracy: 0.5503
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6775 - accuracy: 0.5513
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6776 - accuracy: 0.5504
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6774 - accuracy: 0.5513
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6775 - accuracy: 0.5515
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6778 - accuracy: 0.5525
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6773 - accuracy: 0.5515
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6770 - accuracy: 0.5505
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6773 - accuracy: 0.5510
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6769 - accuracy: 0.5507
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6770 - accuracy: 0.5515
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6768 - accuracy: 0.5509
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6771 - accuracy: 0.5521
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6765 - accuracy: 0.5510
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.6763 - accuracy: 0.5508
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6765 - accuracy: 0.5502
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6770 - accuracy: 0.5512
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6765 - accuracy: 0.5522
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6762 - accuracy: 0.5518
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6761 - accuracy: 0.5521
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6757 - accuracy: 0.5516
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6758 - accuracy: 0.5539
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6755 - accuracy: 0.5528
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6760 - accuracy: 0.5521
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6756 - accuracy: 0.5524
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6773 - accuracy: 0.5532
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6755 - accuracy: 0.5530
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6751 - accuracy: 0.5521
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6755 - accuracy: 0.5516
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6755 - accuracy: 0.5518
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6751 - accuracy: 0.5529
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6754 - accuracy: 0.5520
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6750 - accuracy: 0.5528
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6754 - accuracy: 0.5529

In [26]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7336 - accuracy: 0.5287 - 423ms/epoch - 2ms/step
Loss: 0.733581006526947, Accuracy: 0.5287463665008545

In [28]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupChartity2.h5")