In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('../Starter_Code/Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
new_app=application_df.drop(['EIN','NAME'],axis=1)
new_app

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
applications= pd.get_dummies(new_app,dtype=float)
applications

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [5]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y= applications['IS_SUCCESSFUL'].values
print(y)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X=applications.drop('IS_SUCCESSFUL',axis=1).values
print (X)

[1 1 0 ... 0 1 0]
[[1.0000000e+00 5.0000000e+03 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 1.0859000e+05 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 ...
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 3.6500179e+07 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]]

In [6]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y= applications['IS_SUCCESSFUL'].values
print(y)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X=applications.drop('IS_SUCCESSFUL',axis=1).values
print (X)

[1 1 0 ... 0 1 0]
[[1.0000000e+00 5.0000000e+03 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 1.0859000e+05 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 ...
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 3.6500179e+07 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_features = len(X_train_scaled[0])
nodes_layer1=80
nodes_layer2=90
nodes_layer3=95

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=nodes_layer1, input_dim=number_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=nodes_layer2,activation='relu'))
#Third layer
nn.add(tf.keras.layers.Dense(units=nodes_layer3,activation='relu'))
# Output layer

#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 80)                9360

 dense_3 (Dense)             (None, 90)                7290

 dense_4 (Dense)             (None, 95)                8645

 dense_5 (Dense)             (None, 1)                 96

=================================================================
Total params: 25,391
Trainable params: 25,391
Non-trainable params: 0
_________________________________________________________________

In [13]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5717 - accuracy: 0.7184
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7316
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7321
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7321
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7335
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7344
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7351
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7372
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7374
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7359
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7366
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7373
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7379
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7379
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7387
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7385
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7395
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7391
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7404
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7417
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7399
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7408
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7410
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7416
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7420
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5311 - accuracy: 0.7414
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7417
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7421
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7418
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7413
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7413
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7419
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7421
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7416
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7424
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7424
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7418
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7420
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7416
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7427
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7414
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7414
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7422
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7416
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7420
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7428
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7424
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7427
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7429
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7425
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7427
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7434
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7427
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7431
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5271 - accuracy: 0.7421
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7418
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5267 - accuracy: 0.7423
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7432
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5260 - accuracy: 0.7430
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5266 - accuracy: 0.7438
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5262 - accuracy: 0.7435
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5261 - accuracy: 0.7430
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5263 - accuracy: 0.7433
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7439
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7427
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5258 - accuracy: 0.7432
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5260 - accuracy: 0.7430
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5267 - accuracy: 0.7435
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7435
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5262 - accuracy: 0.7432
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5260 - accuracy: 0.7429
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5255 - accuracy: 0.7439
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5255 - accuracy: 0.7426
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5253 - accuracy: 0.7431
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5258 - accuracy: 0.7431
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5257 - accuracy: 0.7439
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5252 - accuracy: 0.7432
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5265 - accuracy: 0.7440
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7434
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7432
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5254 - accuracy: 0.7426
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5254 - accuracy: 0.7437
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5248 - accuracy: 0.7434
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5246 - accuracy: 0.7438
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5251 - accuracy: 0.7435
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5255 - accuracy: 0.7438
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5247 - accuracy: 0.7440
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5248 - accuracy: 0.7435

In [15]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5880 - accuracy: 0.7310 - 437ms/epoch - 2ms/step
Loss: 0.587971031665802, Accuracy: 0.7309620976448059

In [17]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupChartity3.h5")